{% extends 'main.html' %}

{% block content %}


<section class="text-gray-600 body-font">

    <h1 class="text-center font-medium title-font mt-16 text-6xl text-gray-900 mb-10">All leads</h1>


    <div class="container px-5 py-18 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Assigned Leads</h1>
        </div>
        
        {% include 'leads/list_of_leads.html' %}
        
    </div>
    {% if unassigned_leads.exists %}
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Unassigned Leads</h1>
            </div>
            <div class="flex flex-wrap -m-2">
                {% for lead in unassigned_leads %}

                <div class="p-2 lg:w-1/3 md:w-1/2 w-full flex flex-col text-center">
                    <a href="{% url 'leads:lead-page' lead.id %}">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <!-- <img alt="team"
                                class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                                src="https://dummyimage.com/80x80"> -->
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">{{ lead }}</h2>
                                <p class="text-gray-500">Age: {{ lead.age }}</p>
                                <a class="hover:text-blue-500" href="{% url 'leads:assign-agent' lead.id %}">Assign an Agent</a>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if request.user.is_organisor %}
        
        <div class="flex justify-center py-24 px-24">
            <a href="{% url 'leads:catogery-page' %}">
                <button
                    class="ml-4 inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none rounded text-lg">View All Categories</button>
            </a>
            <a href="{% url 'leads:create-page' %}">
                <button
                    class="ml-4 inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none rounded text-lg">Create
                    a New Lead</button>
            </a>
        </div>
        {% endif %}
</section>
{% endblock %}