{% extends 'main.html' %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">All Agents</h1>
        </div>
        <div class="flex flex-wrap -m-2">
            {% for agent in all_agents %}
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full flex flex-col text-center">
                <a href="{% url 'agents:agent-page' agent.id %}">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">{{ agent.user.first_name}} {{ agent.user.last_name}}</h2>
                            
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="flex justify-center py-24">
            <a href="{% url 'agents:create-page' %}"><button
                    class="inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none  rounded text-lg">Create
                    a New Agent</button></a>
        </div>
    </div>
</section>
{% endblock %}